.card-render {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-device-width: 3840px){
    .card-render{
        width: 100%;
        margin-top: 1rem;
    }
}

@media screen and (max-device-width: 2560px){
    .card-render{
        width: 100%;
        margin-top: 1rem;
    }
    
} 

@media screen and (max-device-width: 1920px){
    .card-render{
        width: 100%;
        margin-top: 1rem;
    }
    
}

@media screen and (max-device-width: 1670px){
    .card-render{
        width: 100%;
        margin-top: 1rem;
    }
    
}

@media screen and (max-device-width: 1440px){
    .card-render{
        width: 100%;
        margin-top: 1rem;
    }
}

@media screen and (max-device-width: 1280px){
    .card-render{
        width: 100%;
        margin-top: 1rem;
    }
}


@media screen and (max-device-width: 768px){
    .card-render{
        width: 100%;
    }
}

@media screen and (max-device-width: 540px)
{
    .card-render{
        width: 100%;
    }
}

@media screen and (max-device-width: 414px){
    .card-render{
        width: 100%;
    }
}

@media screen and (max-device-width: 375px){
    .card-render{
        width:100%;
    }
}

@media screen and (max-device-width: 280px){
    .card-render{
        width:100%;
    }
}