/* .categories {
    margin-top: 5em;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    line-break: strict;
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.categories::-webkit-scrollbar { display: none;  }

.categories > span {
    margin-left: 1rem;
    margin-bottom: 8px;
    padding: 0.5rem; 
    white-space: nowrap;
    border: 0.5px solid gray;
    border-radius: 999px;
    font-weight: bold;
    cursor: pointer;
} */


.categories {
    margin-top: 4.2em;
    padding-top: 0.5rem;
    font-size: 0.8rem;
    line-break: strict;
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5px;
}

.activeness {
    background-color: rgb(226, 220, 220);
  }

.categories::-webkit-scrollbar { display: none;  }

.categories > span {
    margin-left: 1rem;
    margin-bottom: 8px;
    padding: 0.5rem; 
    white-space: nowrap;
    border: 0.5px solid gray;
    border-radius: 999px;
    font-weight: bold;
    cursor: pointer;
}

/* .categories > span:hover {
    background-color: rgb(228, 165, 88);

} */

@media screen  and (max-device-width: 3840px){
    .categories {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        margin-top: 4em;
        font-size: 2.8rem;
        width: 100%;
        
    }
    .categories > span {
        padding: 0.9rem;
        margin-bottom: 7px;
        margin-left: 40px;
    }
}

@media screen  and (max-device-width: 2560px){
    .categories {
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
        margin-top: 3.8em;
        font-size: 2.2rem;
        width: 100%;
    }
    .categories > span {
        padding: 0.4rem;
        margin-bottom: 7px;
        margin-left: 30px;
    }
}

@media screen  and (max-device-width: 1920px){
    .categories {
        padding-top: 1rem;
        padding-bottom: 1px;
        width: 100%;
        margin-top: 4.3em;
        font-size: 1.7rem;
    }
    .categories > span {
        padding: 0.4rem;
        margin-bottom: 7px;
        margin-left: 20px;
    }
}

@media screen  and (max-device-width: 1670px){
    .categories {
        padding-top: 0.5rem;
        padding-bottom: 0.5px;
        margin-top: 4.2em;
        font-size: 1.2rem;
        width: 100%;
    }
    .categories > span {
        padding: 0.4rem;
        margin-bottom: 7px;
    }
}

@media screen  and (max-device-width: 1440px){
    .categories {
        margin-top: 3.5em;
        padding-bottom: 0.5px;
        width: 100%;
        padding-top: 0.5rem;
        font-size: 1rem;
    }
    .categories > span {
        margin-left: 1rem;
        padding: 0.4rem;
        margin-bottom: 7px;
    }
}

@media screen  and (max-device-width: 1280px){
    .categories {
        margin-top: 3.8em;
        padding-top: 0.5rem;
        padding-bottom: 0.5px;
        width: 100%;
        font-size: 0.9rem;
    }
    .categories > span {
        margin-left: 1rem;
        padding: 0.4rem;
        margin-bottom: 7px;
    }
}


@media screen  and (max-device-width: 1024px){
    .categories {
        margin-top: 4.2em;
        padding-top: 0.5rem;
        padding-bottom: 0.5px;
        width: 100%;
        font-size: 0.8rem;
    }
    .categories > span {
        margin-left: 1rem;
        padding: 0.4rem;
        margin-bottom: 7px;
    }
}

@media screen  and (max-device-width: 800px){
    .categories {
        margin-top: 3em;
        padding-top: 0.5rem;
        padding-bottom: 0.5px;
        width: 100%;
        padding-top: 0.5rem;
        width: 100%;
    }
    .categories > span {
        padding: 0.4rem;
        margin-bottom: 7px;
    }
}

@media screen  and (max-device-width: 768px){
    .categories {
        font-size: 0.8rem;
        /* margin-top: 4.5em; */
        padding-top: 7px;
        padding-bottom: 0.5px;
        width: 100%;
    }
    .categories > span {
        padding: 0.4rem;
        margin-bottom: 7px;
    }

}



@media screen  and (max-device-width: 540px){
    .categories {
        font-size: 0.6rem;
        margin-top: 6.5em;
        padding-top: 6.9px;
        width: 100%;
    }
    
    .categories > span {
        padding: 0.2rem;

    }
}

@media screen  and (max-device-width: 414px){
    .categories {
        font-size: 0.5rem;
       padding-top: 6px;
        width: 100%;
        align-items: center;
        margin-top: 6em;
    
    }
    
    .categories > span {
        margin-left: 1rem;
        margin-bottom: 6px;
        padding: 0.2rem; 
        font-size: 0.66rem;
    }

}

@media screen  and (max-device-width: 375px){
    .categories {
        margin-top: 6em;
        width: 100%;
    }
    
    .categories > span {
        cursor: pointer;
        margin-left: 0.4rem;
        margin-bottom: 0.4rem;
        padding: 0.19rem; 
        font-size: 0.69rem;
    }

}


@media screen  and (max-device-width: 280px){
    .categories {
        margin-top: 6em;
        width: 100%;
    }
    
    .categories > span {
      
        margin-left: 0.5rem;
        margin-bottom: 0.3rem;
        font-size: 0.5rem;
    }

}

