.my-ticket-view{
    display: flex;
    flex-direction: column;
    width: calc(100% - 15rem);
    margin-left: 15rem;
    height: 100vh;
    position: absolute;
}
.my-tickets-filter {
    margin-top: 3.5rem;
    /* margin-left: 15rem; */
    margin-right: 1rem;

}
.my-tickets-display{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 100vh;
    
    /* margin-left: 15rem; */
}

@media screen and (max-device-width: 3840px){
    .my-ticket-view{
        width: calc(100% - 37rem);
        margin-left: 37rem;
        flex-direction: column;
    
        /* flex-wrap: wrap; */
    }
    .my-tickets-filter {
        margin-top: 9rem;
        /* margin-left: 15rem; */
        margin-right: 2rem;
    
    }
    .my-tickets-display{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        height: 100vh;
        
        /* margin-left: 15rem; */
    }
}

@media screen and (max-device-width: 2560px){
    .my-ticket-view{
        width: calc(100% - 31.5rem);
        margin-left: 31.5rem;
        flex-direction: column;
    
        /* flex-wrap: wrap; */
    }

    .my-tickets-filter {
        margin-top: 7.5rem;
        /* margin-left: 15rem; */
        margin-right: 2rem;
    
    }
    .my-tickets-display{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        height: 100vh;
        
        /* margin-left: 15rem; */
    }
}

@media screen and (max-device-width: 1920px){
    .my-ticket-view{
        width: calc(100% - 28.5rem);
        margin-left: 28.5rem;
        flex-direction: column;
    
        /* flex-wrap: wrap; */
    }

    .my-tickets-filter {
        margin-top: 6.5rem;
        /* margin-left: 15rem; */
        margin-right: 1.5rem;
    
    }
    .my-tickets-display{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        height: 100vh;
        
        /* margin-left: 15rem; */
    }
}

@media screen and (max-device-width: 1670px){
    .my-ticket-view{
        width: calc(100% - 18rem);
        margin-left: 18rem;
        flex-direction: column;
    
        /* flex-wrap: wrap; */
    }
    .my-tickets-filter {
        margin-top: 4.5rem;
        /* margin-left: 15rem; */
        margin-right: 1.5rem;
    }
}

@media screen and (max-device-width: 1440px){
    .my-ticket-view{
        width: calc(100% - 15rem);
        margin-left: 15rem;
        flex-direction: column;
    
        /* flex-wrap: wrap; */
    }
    .my-tickets-filter {
        margin-top: 3.5rem;
        /* margin-left: 15rem; */
        margin-right: 1.5rem;
    }
}

@media screen and (max-device-width: 1280px){
    .my-ticket-view{
        width: calc(100% - 14.5rem);
        margin-left: 14.5rem;
        flex-direction: column;
    
        /* flex-wrap: wrap; */
    }

    .my-tickets-filter {
        margin-top: 3.5rem;
        /* margin-left: 15rem; */
        margin-right: 1.5rem;
    
    }
    .my-tickets-display{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        height: 100vh;
        
        /* margin-left: 15rem; */
    }
   

}



@media screen and (max-device-width: 1024px){
    .my-ticket-view{
        width: calc(100% - 14rem);
        margin-left: 14rem;
        flex-direction: column;
    
        /* flex-wrap: wrap; */
    }
    .my-tickets-filter{
        margin-top: 3.5rem;
    /* margin-left: 14rem; */
        
    }
}
@media screen and (max-device-width: 800px){
    .my-ticket-view {
        width: 100%;
        margin-left: 0rem;
    
    }
    .my-tickets-filter{
        margin-left: 1rem;
        margin-top: 4rem;
        margin-right: 1rem;
        
    }
}
@media screen and (max-device-width: 768px){
    .my-ticket-view{
        width: 100%;
    }
    .my-tickets-filter{
        margin-left: 1rem;
        margin-top: 5rem;
        margin-right: 1rem;
    }
}
@media screen and (max-device-width: 540px){

    .my-tickets-filter {
        margin-left: 1rem;
        margin-top: 4rem;
        margin-right: 1rem;
    }
}
@media screen and (max-device-width: 414px){
    .my-ticket-view{
        width: 100%;
        /* margin-top: 10px; */
    }
    .my-tickets-filter{
        margin-left: 1rem;
        margin-top: 3.4rem;
    }
    .my-tickets-display{
        width: 100%;
    }

}
@media screen and (max-device-width: 375px){
    .my-ticket-view{
        width: 100%;
        margin-top: 10px;
    }
    .my-tickets-filter{
        margin-left: 10px;
        margin-top: 2.5rem;
    }
    .my-tickets-display{
        width: 100%;
    }

}